<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <article class="contenedor1">
        <h2>Hola Mundo</h2>
        <p>La temática del sitio y los bocetos deberán estar
            definidos. Sin ellos, lo más probable es que tengan problemas para avanzar con rapidez
            y para trabajar por separado de manera eficiente. Los bocetos también sirven de guía a
            la hora de resolver dudas o conflictos.
            </p>
    </article>
    <article class="contenedor2">
        <h2>Chau Mundo</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro vero dolor magni. 
            Natus corporis magni animi deleniti delectus, 
            quaerat ad dignissimos tempore? Possimus ab atque placeat 
            mollitia inventore debitis delectus.</p>
    </article>
    <article class="contenedor3">
        <h2>como va Mundo</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro vero dolor magni. 
            Natus corporis magni animi deleniti delectus, 
            quaerat ad dignissimos tempore? Possimus ab atque placeat 
            mollitia inventore debitis delectus.</p>
    </article>
</body>
</html>